*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
}

:root {
    --main-color: #ffff;
  }
/* Navigation styling */

.home-nav{
    height: 10vh;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.logo:has(div){
    border: 1px solid transparent;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--main-color);
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 25%;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.home-nav ul{
    display: flex;
}

.home-nav ul li,a{
    list-style: none;
    padding-right: 2em;
    color: var(--main-color);
    font-family: sans-serif,;
}

.menubar{
    display:none;
}

a{
    text-decoration: none;
}


/* main page styling*/
/* Intro page */
header{
    min-height: 100vh;
    width: 100%;
    background-image: url("/images/bg-pic.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.intro-first-div{
    border: 1px solid transparent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.intro-first-div>h1{
    color: var(--main-color);
    font-size: 3rem;
}

.intro-first-div>p{
    color:var(--main-color);
    margin-top: 20px;
    font-size: 2rem;
}

/* styling the about page */
.about-container{
    min-height: 100vh;
    width: 100%;
    background-color: #070707;
    border: 1px solid transparent;
}

.about-page-first-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.about-page-first-div>.description>p{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--main-color);
}

span{
    color: #89715B;
    font-weight: 700;
}

.niche>h3{
    margin-top:3em;
    color: #ffffffbf;
}

.niche>p{
    color: var(--main-color);
    margin-top:20px;
    font-size: 2rem;
}

.skill{
    border: 1px solid transparent;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.skill>h3{
    color: var(--main-color);
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
}

.skill-box-wrapper{
    border: 1px solid transparent;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-box{
    width: 5rem;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-box h4{
    color: var(--main-color);
    text-align: center;
    margin-top: 25px;
}

.skill-box:has(.image){
    /* width: 25%; */
    aspect-ratio: 3/2;
    object-fit: cover;
}

/* styling mobile responsiveness */
@media screen and (max-width: 700px) { 
#hidephoneMenubar{
    display: none;
    }

#phoneMenubar{
    position: absolute;
    top: 10%;
    right: 0%;
    border: 1px solid transparent;
    width: 100%;
    height: 50vh;
    background-color: transparent;
    animation: slide 0.7s ease-in-out 0s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes slide {
    0%{
        transform: translate(-5em);
    }

    100%{
        transform: translate(0,0);
    }
}   

.menubar{
    display: inline-block;
}
}