*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --main-color: #ffff;
    --main-bg-color:#070707;
  }

  body{
    scroll-behavior: smooth;
    background-color: var(--main-bg-color);
    color: var(--main-color);
}


/* Navigation styling */

.home-nav{
    height: 10vh;
    border: 1px solid transparent;
    background: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.logo:has(div){
    border: 1px solid transparent;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--main-color);
}

img{
    max-width:100%;
    height: 100%;
}


.home-nav ul{
    display: flex;
}

.home-nav ul li,a{
    list-style: none;
    padding-right: 2em;
    color: var(--main-color);
    font-family: sans-serif,;
}

.menubar{
    display:none;
}

a{
    text-decoration: none;
}


/* main page styling*/
/* Intro page */
.home-header{
    min-height: 100vh;
    width: 100%;
    background-image: url("/images/bg-pic.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.intro-first-div{
    border: 1px solid transparent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

.intro-first-div>h1{
    color: var(--main-color);
    font-size: 3rem;
}

.intro-first-div>p{
    color:var(--main-color);
    margin-top: 20px;
    font-size: 2rem;
}

/* styling the about page */
#about-container{
    min-height: 100vh;
    width: 100%;
    background-color:var(--main-bg-color);
    border: 1px solid transparent;
}

.about-page-first-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.my-profile-pic-wrapper{
    border: 1px solid transparent;
    width: 30%;
    margin-top: 2rem;
}

.about-page-first-div>.description>p{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    color: var(--main-color);
}

span{
    color: #89715B;
    font-weight: 700;
}

.niche>h3{
    margin-top:3em;
    color: #ffffffbf;
}

.niche>p{
    color: var(--main-color);
    margin-top:20px;
    font-size: 2rem;
}

.skill{
    border: 1px solid transparent;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.skill>h3{
    color: var(--main-color);
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
}

.skill-box-wrapper{
    border: 1px solid #ffff00;
    padding: 25px;
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-box{
    width: 5rem;
    border: 1px solid transparent;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-box h4{
    color: var(--main-color);
    text-align: center;
    margin-top: 25px;
    font-size: 1rem;
}


.skill-box-wrapper img{
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
}

/* styling the contact page */

.contact-page-container{
    min-height: 100vh;
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-between;
}
.contact-pg-first-div{
    border: 1px solid transparent;
    min-height:100vh;
    width: 50%;
}

.contact-pg-2nd-div{
    border: 1px solid transparent;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-pg-2nd-div>h1{
    font-size: 3rem;
    max-width:100%;
    border: 1px solid transparent;
    color:#89715B;
    margin: 20px;
    text-align: center;
}

.contact-pg-2nd-div>h1:hover{
    color: var(--main-color);
    cursor: pointer;
}

.form-bg{
    background-color: var(--main-bg-color);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

label{
    padding: 20px;
}
.single-form input,.single-form textarea{
    font-size: 20px;
    width: 100%;
    border: 0;
    background-color:var(--main-bg-color);
    border-bottom: 2px solid rgb(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.5);
    padding: 15px 0;
    outline: none;
    transition: all 0.3s ease 0s;
    text-align: start;
    resize: vertical;
}

.single-form input:focus{
    border-bottom:1px solid #89715B;
}

.single-form textarea:focus{
    border-bottom:1px solid #89715B;
}

.contact-pg-submit-btn{
    width: 50%;
    margin-top: 20px;
    border: 1px solid transparent;
}

.contact-pg-submit-btn button{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #89715B;
    border: 1px solid #89715B;
    cursor: pointer;
}

.contact-pg-submit-btn button:hover{
    background-color: var(--main-color);
}

textarea{
    width: 100%;
    box-sizing: border-box !important;
    resize: vertical !important;
}

/* styling project page  */
.project-pg-nav{
    border: 1px solid transparent;
    padding: 20px;
    width: 100%;
    margin: 3rem 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-pg-ul{
    border:1px solid transparent;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.project-pg-ul li{
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease 0s;
   }

.map-project-wrapper{
    cursor: pointer;
    width: 25%;
    margin: 10px;
    padding: 20px;
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


.project-img-container{
    width: 100%;
}

.project-img-container img{
    transition: rotate 0.7s ease;
}

.project-img-container img:hover{
    rotate:-5deg;
}

.project-render{
    margin-top: 2rem;
    padding: 20px;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.map-item-name{
    margin-top: 20px;
    font-size: 1.5rem;
}

.map-item-name:hover{
    color: #89715B;
}

.project-heading{
    text-align: center;
    margin: 3rem 0 3rem;
    text-transform: uppercase;
    color: #89715B;
}

/* styling mobile responsiveness */
@media screen and (max-width: 768px) { 
#hidephoneMenubar{
    display: none;
    }

#phoneMenubar{
    position: absolute;
    top: 10%;
    right: 0%;
    border: 1px solid transparent;
    width: 100%;
    height: 50vh;
    background-color: var(--main-bg-color);
    animation: slide 0.7s ease-in-out 0s;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes slide {
    0%{
        transform: translate(-5em);
    }

    100%{
        transform: translate(0,0);
    }
}   

.menubar{
    display: inline-block;
}

/* styling the about page */

.about-page-first-div{
    flex-direction: column;
}

.skill-box-wrapper{
    max-width: 100%;
}

.skill-box{
    margin: 5px;
}

.description{
    border: 1px solid transparent;
    width: 100%;
    padding: 20px;
}

.description p, h3{
    text-align: center;
}

.my-profile-pic-wrapper{
    border: 1px solid transparent;
    width: 100%;
    margin-top: 3rem;
    padding: 20px;
}

/* contact page */
.contact-page-container{
    width: 100%;
}

.contact-pg-first-div{
    display: none;
}


.contact-pg-2nd-div{
    width: 100%;
}

/* project page */
.map-project-wrapper{
    width: 100%;
}

}